<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robótica Sustentável</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mycss/home.css">
</head>
<body>
    <div class="container">
      
      <header>
        
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
          <a class="navbar-brand" href="#">
            <img class="img-logo" src="img/logo.jpeg" alt="logo">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>

              </ul>
            </div>
          </nav>
            
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav nav-flex">
                    <a class="nav-item nav-link active padding-nav" href="#">Home</a>
                    <a class="nav-item nav-link active padding-nav" href="#">Quem somos</a>
                    <a class="nav-item nav-link active padding-nav" href="#">Serviços</a>
                    <a class="nav-item nav-link active padding-nav" href="#">Portfolio</a>
                    <a class="nav-item nav-link active padding-nav" href="#">Perguntas Frequentes</a>
                    <a class="nav-item nav-link active padding-nav" href="#">Blog</a>
                  </div>
                </div>
              </nav> -->
        </header>
        
        <section>
          <a href="https://forms.gle/XFrH1Nhd6pW9F6pw6">
              <div class="botao-form">
                  Tenha Robótica Sustentável na sua escola
              </div>
          </a>
        </section>


        <section>
          <div class="container">
            <h3>Conheça nossos produtos</h3>

            <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

              
              <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                  <figure>
                    <img class="img-produto" src="img/oficina.png" alt="oficina">
                  </figure>

                  <h2 class="display-5">Oficinas Makers</h2>
                  <p class="lead">É um momento lúdico com os aluno, no qual o aluno constrói um </p>
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
              </div>

              <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                  <h2 class="display-5">Cursos Makers</h2>
                  <p class="lead">And an even wittier subheading.</p>
                </div>
                <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
              </div>

            </div>

          </div>
        </section>

        <footer>
            Todos os direitos reservados - &copy; 2020 -
            <a href="https://www.linkedin.com/in/lucaslessa7/">Lucas Lessa</a>
        </footer>

    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>